{% extends 'base.html' %}
{% load static %}
{% block title %}MyBiblio - Autor "{{ autor.nombre }} {{ autor.apellidos }}"{% endblock title %}
{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x align-center" style="padding-bottom: 25px;">
            <div class="cell large-12">
                <h2 style="text-align: center;">{{ autor.nombre }} {{ autor.apellidos }}</h2>
            </div>
        </div>

        <div class="grid-x align-center">
            <div class="cell large-4 align-self-middle large-offset-2">
                <img class="max-width: 350px; height: auto;" src="{% static 'img/autor_no_photo.jpg' %}">
            </div>
            <div class="grid-x cell large-6 grid-margin-x align-self-middle" style="height: 80px;">
                <div class="cell large-4" style="text-align: right; font-weight:bolder;">
                    Nombre:
                </div>
                <div class="cell large-8 textocamposrigth">
                    {{ autor.nombre}}
                </div>
                <div class="cell large-4" style="text-align: right; font-weight:bolder;">
                    Apellidos: 
                </div>
                <div class="cell large-8">
                    {{ autor.apellidos}}
                </div>
            </div>
        </div>

        <div class="grid-x align-center">
            <div class="cell large-1">
                <p style="text-align:right; padding-top: 25px;">
                    <button class="button secondary align-center" lass="button secondary clear" onclick="history.back()">Volver</button>
                </p>
            </div>
        </div>

    </div>
{% endblock content %}
